<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Hello, Vue!</h1>
    <div id="app">
        <div v-if="showBooks">
            <h2>Books & Authors</h2>
            <ul>
                <li v-for="book in books">
                    <img :src="book.cover_img" alt="book.title">
                    <h3>{{ book.title }}</h3>
                    <p>by : <b>{{ book.author }}</b>, published on : {{ book.year }}</p>
                </li>
            </ul>
        </div>
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <br>
        <p>hits: {{ hits }}</p>
        <br>

        <button v-on:click="hits++">Increase Hit</button>
        <button v-on:click="hits--">Decrease Hit</button>

        <div v-show="hits != 0">
            <br>
            <br>
            <div @click="divOnClick(hits)">Click Me!</div>
            <br>
            <p>| step: ({{ hits }}) | current counter: ({{ click_counter }}) |</p>
            <br>
        </div>

        <br>
        <div>
            <!-- mouse events -->
            <div class="box" @mouseover="handleMouseEvent($event, 1)">mouse over (enter)</div>
            <div class="box" @mouseleave="handleMouseEvent($event, 2)">mouse leave (exit)</div>
            <div class="box" @dblclick="handleMouseEvent($event, 3)">double click</div>
            <div class="box" @mousemove="handleMouseMove">mouse movement ({{ mouse_x }}, {{ mouse_y }})</div>
        </div>

        <div>
            | <a v-bind:href="src_url">Source Code</a> |
            | <a :href="credit_url">Project Credit</a> |
        </div>
        
    </div>
    
    <script src="app.js"></script>
</body>
</html>